body {
    font-family: sans-serif;
}

.swatch {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    vertical-align: text-bottom;
}

.func {
    margin-top: 1.0em;
}

.args {
    border-left: 2px solid #EAE;
    padding-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.args td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.func .title {
    margin-bottom: 0.1em;
}

.docstr {
    margin-top: 0.5em;
    margin-left: 2em;
}

.docstr .header {
    color: #EEE;
    font-weight: 700;
    padding: 0.1em;
    padding-left: 0.5em;
}

.docstr .header, .docstr .content {
    padding: 0.1em;
    padding-left: 0.5em;
}

.Doc {
    background-color: #267711;
}

.Ex {
    background-color: #2e1177;
}

.docstr {
    border-radius: 10px;
    background-color: #EEE;
}

.toc h2 {
    font-size: 1.2em;
    margin-left: 1em;
}
.toc a {
    margin-left: 2em;
    text-decoration: none;
}
